#ignore pipenv file .lock
Pipfile.lock

#pyc files
__pycache__/

# visual studio code
.vscode

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*tmp_dir
